body, html {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #cccccc;
}

/* Font settings for page elements */
body {
    font-family: verdana, arial, helvetica, sans-serif;
    color: #000000;
    background-color: #ffffff;
}
tr.border {
    color: #ffffff;
	background-color: #000000;
}

tr.headerback {
	background-color: #FFFFFF;
}

.logo {
	margin: 0em 0em 0em 0em;
}

tr.datebar {
	background-color: #669999;
}

pre {
    background-color: #CCCCCC;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    padding: 6px;
}

/* General header styles */
h1, h2, h3, h4, h5 {
    font-weight: bold;
}
h1 { 
    color: #990000;
    font-size: 150%; 
}
h3 { 
    color: #336666;
    font-size: 110%; 
}
h4 { 
    color: #336666;
    font-size: 100%; 
}
h5 { 
    color: #336666;
    font-size: 90%; 
}

h2 {
    color: #336666;
    font-size: 130%;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
    padding: 2px;
}

/* Horizontal delimiter defaults */
hr {
    border: 0px;
    color: black;
    background-color: black;
    height: 1px;
}

/* Default font size for elements */
td, th {
    font-size: 90%;
}

/* News date info on frontpage and in the archives */
.newsdate {
	font-size: 75%;
	font-style: italic;
	color: #6666cc;
}

.sidebar {
    background-color: #eeeeee;
	font-size: 80%;
	padding: 5px;
}

.sidebarborder {
    background-color: #990000;
}

.sidebar p {
	text-align: left !important;
}

tr.footerback {
	background-color: #669999;
}

tr.postfooter {
    background-color: #cccccc;
}
