body, html {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

tr.topbar {
	background-color: #669999;
}

th, td {
    font-size: 75%;
}

/* State classes */
th {
    color: #ffffff;
    background-color: #013131;
}

.unknown {
    background-color: #cccccc;
}

.failed {
    background-color: #ff9999;
}

.error {
    color: #000000;
    background-color: #ffcccc;
}

.warn {
    background-color: #ffff99;
}

.acknowledged {
    background-color: #ffffcc;
}

.recovering {
    background-color: #ccccff;
}

.maintenance {
    background-color: #00cccc;
}

.ok {
    background-color: #aaffaa;
}

.disabled {
    color: #ffffff;
    background-color: #666666;
}

.toplink {
    color: #ffffff;
    text-decoration: none;
}
