<nevow:invisible xmlns:nevow="http://nevow.com/ns/nevow/0.1">
<table width="100%" cellpadding="2" cellspacing="0" border="0">
    <tbody>
        <tr valign="top">
            <td class="sidebar">

            <h3>Quick Links</h3>
            <a href="http://projects.adytum.us/tracs/PyMonitor">Docs</a><br/>
            <a href="http://groups.google.com/group/pymon">Maillist</a> (Google Groups)<br/>
            <a href="http://code.google.com/p/pymon/issues/entry">Submit a Troubleticket</a><br/>

            </td>
        </tr>
    </tbody>
</table>
</nevow:invisible> 
