<nevow:invisible xmlns:nevow="http://nevow.com/ns/nevow/0.1">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr class="headerback">
        <td align="left" width="126">
        <img class="logo" src="/images/logo.gif" border="0" />
        </td>
    </tr>

    <tr class="border"><td><img src="/images/1px.gif" height="1" /></td></tr>
    <tr class="datebar">
        <td align="right" valign="top" nevow:render="data" nevow:data="nbsp" />
    </tr>
    <tr class="border"><td><img class="none" src="/images/1px.gif" height="1" /></td></tr>
</table>
</nevow:invisible> 
