<nevow:invisible xmlns:nevow="http://nevow.com/ns/nevow/0.1">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr class="border">
        <td>
        <img class="none" src="/images/spacer.gif" height="1" border="0" />
        </td>
    </tr>
</table>
<table border="0" cellspacing="0" cellpadding="6" width="100%">
    <tr valign="top" class="postfooter">
        <td>
        <small>Copyright <span nevow:render="copyright" /> 2004-2006
        <a href="http://adytumsolutions.com">AdytumSolutions, Inc</a>.
        <br/> All rights reserved.</small>
        </td>
        <td align="right" nevow:render="data" nevow:data="nbsp" />
    </tr>
</table>
</nevow:invisible> 
